<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>html page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>navbar}}
        <form action="/register" method="POST">  
  <div class="container">  
  <center>  <h1> Student Registration Form</h1> </center>  
  <hr>  
  <label> Firstname </label>   
<input type="text" name="firstname" placeholder= "Firstname" size="15" required />   
<label> Middlename: </label>   
<input type="text" name="middlename" placeholder="Middlename" size="15" required />   
<label> Lastname: </label>    
<input type="text" name="lastname" placeholder="Lastname" size="15"required />   
<div>  
<label>    
</div>  
<div>  
<label>   
Gender :  
</label><br>  
<input type="radio" value="Male" name="gender" checked > Male   
<input type="radio" value="Female" name="gender"> Female   
<input type="radio" value="Other" name="gender"> Other  
  
</div>  
<label>   
Phone :  
</label>     
<input type="text" name="phone" placeholder="phone no." size="10"/ required>   
 <label for="email"><b>Email</b></label>  
 <input type="text" placeholder="Enter Email" name="email" required> 
 <label for="age"><b>Age</b></label>  
 <input type="text" placeholder="Enter Age" name="age" required>  
  
    <label for="psw"><b>Password</b></label>  
    <input type="password" placeholder="Enter Password" name="password" required>  
  
    <label for="psw-repeat"><b>Re-type Password</b></label>  
    <input type="password" placeholder="Retype Password" name="confirmpassword" required>  
    <input type="submit" class="btnRegister" value="Register">  
</form>  
</body>

        <script src="" async defer></script>
    </body>
</html>